name: Burrow CI/CD Pipeline to Prod.

on:
  push:
      branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Deploy to Digital Ocean Droplet
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.DROPLET_IP }}
        username: ${{ secrets.DROPLET_USER }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        port: 22
        script: |
          cd ~/app
          git fetch origin
          git checkout main
          git pull origin main
          touch backend/.env
          docker compose -p burrow-housing down --remove-orphans
          docker compose -p burrow-housing up -d --build
          docker ps

